<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <title>Testing Mapbox API</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <style>
            #map { 
                width: 100%;
                flex: 1;
            };
        </style>
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <div id='map'></div>
        <pre id='coordinates' class='coordinates'></pre>

        <script src='/static/js/test_mapbox.js'></script>
        {% endblock %}
    </body>
</html>